* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;

  display: flex;
  flex-direction: column;
  align-items: center;
}

/* BOX */

.header,
.footer {
  background-color: #1f2937;
  color: whitesmoke;
  width: 100%;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 80vh;
}

.main {
    width: 100%;
}

.main-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.boxes {
  font-size: 14px;

  display: flex;
  width: 60%;
  height: 50vh;
  justify-content: center;
  gap: 30px;
}
.quote {
    height: 40vh;
    width: 100%;
    background-color: #e5e7e8;
    font-size: 36px;
    font-style: italic;
    font-weight: 100;
    color: gray;


    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.container {
    width: 100%;
    height: 35vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.blue-container {
    width: 80%;
    background-color: #3882f6;
    height: 15vh;
    color: white;
    border-radius: 5px;
    font-size: 10px;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.footer {
    padding: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
}


/* IN BOX */

.navigation {
  width: 80%;

  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

h1 {
    font-size: 48px;
    font-weight: 900;
}

.content {
  width: 80%;
  margin-top: auto;
  margin-bottom: auto;

  display: flex;
}

.left {
  padding: 10px;
}

.left p {
  margin-bottom: 10px;
  font-size: 18px;
}

.links {
  list-style-type: none;

  display: flex;
  gap: 12px;
}

.logo {
  font-weight: bolder;
  font-size: 18px;
}

h2 {
  text-align: center;
  padding: 30px;
  font-weight: 900;
  font-size: 36px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex: 1;
}

.box p {
    width: 90%;
    padding-top: 5px;
    color: gray
}

.box-img {
    border: #3882f6 solid 3px;
    border-radius: 10px;
}



.quote p:first-child {
    width: 80%;
}



.quote p:last-child {
    color: #1f2937;
    font-size: 20px;
    font-weight: 900;

    align-self: flex-end;
    margin-right: 22%;
}

.high-lighted {
    font-weight: bold;
    font-size: 16px
}

.blue-container .button {
    border: white 1.5px solid
}



/* FORMATS */

.header-img {
  width: 400px;
  height: 200px;
}

.box-img {
  width: 150px;
  height: 150px;
}

a {
  color: white;
  text-decoration: none;
}

.button {
  text-decoration: none;
  color: white;
  background-color: #3882f6;
  padding: 6px 20px;
  border-radius: 5px;
  font-size: 10px;
  font-weight: 700;
}
